<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - OnaxApp</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/WebApp.styles.css" asp-append-version="true" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin="">
    <link href="https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;500;700&amp;display=swap" rel="stylesheet">
</head>

<body>
    <header>
        <style>

        </style>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3"
            style="height:5rem;">
            <div class="container-fluid  justify-content-between">
                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">@await Html.PartialAsync("_CompanyName")</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse"
                    aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav flex-grow-1 onax-end">
                        <li class="nav-item">
                            @if (User.Identity != null && User.Identity.IsAuthenticated)
                            {
                                <span id="spnLogout" class="nav-link text-dark" style="cursor:pointer;">Logout  @User.Claims.FirstOrDefault(c => c.Type == "display_name")?.Value.Split(' ')[0]</span>
                            }
                            else
                            {
                                <a class="nav-link text-dark" asp-controller="Home" asp-action="Login">Log In</a>
                            }
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Blog" asp-action="Index">Blog</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" href='@Url.Action("portal","zone")'>Portal</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    @await Html.PartialAsync("_Footer.cshtml")

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
    <script>
        $(document).ready(function () {
            $('#spnLogout').click(function () {
                const logout = confirm('Are you sure you want to logout?');
                if (logout) {
                    fetch('/api/auth/logout', {
                        method: 'POST',
                        headers: {
                            'Content-Type': 'application/json',
                            'RequestVerificationToken': $('input:hidden[name="__RequestVerificationToken"]').val()
                        }
                    }).then(function (response) {
                        if (response.ok) {
                            window.localStorage.removeItem('onx_token');
                            window.location.href = '@Url.Action("Index", "Home")';
                        }
                    });
                }
            });
        });
    </script>
</body>

</html>
